extends ../layout.pug

block content

    h3 Edit Trip
    form(method="POST" action=`/trips/edit/${trip.id}?_method=PUT`)
        .form-group
            label(for="name") Trip Name:
            input.form-control(type="text" value=`${trip.name}` name='name')
        .form-group
            label(for="location.city") City, ST:
            input.form-control(type="text" value=`${trip.location.city}` name='location.city')
        .form-group
            label(for="location.latLng") Lattitude/Longitude:
            input.form-control(type="text" value=`${trip.location.latLng}` name='location.latLng')
        //- .form-group
        //-     label(for="name") Trip Name:
        //-     input.form-control(type="text" value=`${trip.name}` name='name')
        button(type="submit") Edit Trip

    h3 Delete Trip
    form(method="POST" action=`/trips/${trip.id}?_method=DELETE`)
        button(type="submit") Delete Trip