extends ../layout.pug

block content

    //- edit trip details
    h4 Edit Trip
    form(method="POST" action=`/trips/edit/${trip.id}?_method=PUT`)
        .form-group
            label(for="name") Trip Name:
            input.form-control(type="text" value=`${trip.name}` name='name')
        .form-group
            label(for="location.city") City, ST:
            input.form-control(type="text" value=`${trip.location.city}` name='location.city')
        .form-group
            label(for="location.latLng") Lattitude/Longitude:
            input.form-control(type="text" value=`${trip.location.latLng}` name='location.latLng')
        //- .form-group
        //-     label(for="name") Trip Name:
        //-     input.form-control(type="text" value=`${trip.name}` name='name')
        button(type="submit") Edit Trip
    //- edit trip passcode
    h4 Passcode Reset
    form(method='POST' action=`/trips/passcode/${trip.id}?_method=PUT`)
        .form-group
            label(for="passcode") Passcode:
            input.form-control(type='password' name='passcode')
        button(type="submit") Set New Code

    //- delete trip completely
    h4 Delete Trip
    form(method="POST" action=`/trips/${trip.id}?_method=DELETE`)
        button(type="submit") Delete Trip

    