extends ../layout.pug

block content
    .container
        .jumbotron.bg-primary
            .container
                if (trip.name === undefined)
                    p Please go back to select a trip.
                else
                    div.d-flex.justify-content-center
                        h3.text-white #{trip.name}
                    p Destination: #{trip.location.city}
                    - let dTrip = trip.createdAt
                    - let dayTrip = dTrip.getDate()
                    - let monthTrip = dTrip.getMonth() + 1
                    - let yearTrip = dTrip.getFullYear()
                    - let dateTrip = `${monthTrip}/${dayTrip}/${yearTrip}`
                    p Created: #{dateTrip}
                    a.btn.btn-dark(href=`/trips/edit/${trip.id}`) Edit Trip
        .row
            .col
                .card
                    div.justify-content-center.d-flex.bg-secondary        
                        h4.p-1.text-white Attendees
                    div.justify-content-center.d-flex
                        button.my-1.btn-primary.btn Invite People
                    p.p-1 Confirmed:
                    ul.list-group.list-group-flush
                        each person, index in trip.attending
                            li.list-group-item= (index + 1) + ': ' + person.displayName
                    //- form for adding a person to the list + options to remove or edit a person
                    form.pt-3(method="POST" action=`/trips/${trip.id}?_method=PUT`)
                        label(for='passcode') Enter Code*:  
                        input.ml-1(type="text" name='passcode')      
                        button.ml-3.btn.btn-info(type='submit') Join Trip 
                    p.text-secondary *A code is required to join a trip. Contact the trip admin to request a code.
            .col
                .card
                    div.justify-content-center.d-flex.bg-secondary        
                        h4.p-1.text-white Housing
                    if (trip.accomadation.url.length == 0)
                        div.justify-content-center.d-flex
                            a.my-1.btn.btn-primary(href=`/trips/edit/${trip.id}`) Add Housing Info
                        p.p-1 Find a rental:
                        ul.list-group.list-group-flush
                            li.list-group-item
                                a.text-primary AirBnB
                            li.list-group-item
                                a.text-primary Kayak
                            li.list-group-item
                                a.text-primary Booking.com
                            li.list-group-item
                                a.text-primary Hotels.com
                    else    
                        a.btn.btn-primary(href=`${trip.accomadation.url}`) View Housing
                        p Total Cost of Rental: #{trip.accomadation.price} 

    //- message board 
    .container.mt-3
        div.d-flex.justify-content-center.bg-secondary
            h4.p-1.text-white Message Board
        label(for='category') Filter:
        select(for='category')
            option(value='all') All
            option(value="hotel") Hotel
            option(value="activities") Activities
            option(value="travel") Travel
            option(value="other") Other
        #message-view
            if trip.messages.length > 0
                each message in trip.messages
                    .card
                        - let d = message.createdAt
                        - let day = d.getDate()
                        - let month = d.getMonth() + 1
                        - let year = d.getFullYear()
                        - let date = `${month}/${day}/${year}`
                        div.message(id=`${message.category}`)
                            span #{message.user.displayName} 
                            span on 
                            span #{date}
                            span : 
                            span "#{message.message}"
                            span Category: #{message.category}
                            p
                                button.btn
                                    img(src="/images/like-16px.png", alt="like")
                                    span #{message.likes} 
                                img(src="/images/edit-16px.png", alt="edit")
                                img(src="/images/delete-16px.png", alt="delete")
            else
                .card
                    p.ml-2 Start the conversation!  Add a message below!
        form(method="POST" action=`/trips/${trip.id}`)
            .form-group
                label(for="message") Message:
                input.form-control(type="text" placeholder='...' name="message")
            label(for="category") Category:
            select(for="category" name='category')
                option(value="hotel") Hotel
                option(value="activities") Activities
                option(value="travel") Travel
                option(value="other") Other
            button.btn.btn-info.ml-3(type="submit") Post
        //- activities view
        .container.mt-3
            h4 Activities
    script(src="/js/map.js")
    script(src="/js/messages.js")



    
        