extends ../layout.pug

block content
    
    if (trip.name === undefined)
        p Please go back to select a trip.
    else
        h3 Trip Name: #{trip.name}
        p Destination: #{trip.location.city}
        p Created: #{trip.createdAt}
        p Confirmed Attending:
        ul
            each person, index in trip.attending
                li= (index + 1) + ': ' + person.displayName
        //- form for adding a person to the list + options to remove or edit a person
        form(method="POST" action=`/trips/${trip.id}?_method=PUT`)
            button(type='submit') Join Trip 
        a(href=`${trip.accomadation.url}`) View Housing
        p Total Cost of Rental: #{trip.accomadation.price}

        a(href=`/trips/edit/${trip.id}`) Edit Trip

        .container
            h4 Message Board
            each message in trip.messages
                .card
                    p= message.message
                    p= message.createdAt
                    p= message.category
                    p= message.user.displayName
            
            form(method="POST" action=`/trips/${trip.id}`)
                label(for="message") Message:
                input(type="text" placeholder='...' name="message")
                label(for="category") Category:
                select(for="category" name='category')
                    option(value="hotel") Hotel
                    option(value="activities") Activities
                    option(value="travel") Travel
                    option(value="other") Other
                button(type="submit") Post



    
        